@font-face {
    font-family: "Roboto Regular";
    src: url(Roboto-Regular.ttf);
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto Regular, Arial, sans-serif;
    font-size: 13px;
    background: #fff;
    background-image: url(wallpaper.jpg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    color: #404040;
    -webkit-user-select: none;
    z-index: -1;
}
.container {
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.card {
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    width: 160px;
    height: 190px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    top: 30%;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.submit-button {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}
@keyframes selectShadow {
    0% {box-shadow: 0px 0px 5px rgba(0,0,0,0.5);}
    100% {box-shadow: 0px 0px 30px rgba(0,0,0,0.5);}
}
.select-shadow {
    animation-name: selectShadow;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes deselectShadow {
    0% {box-shadow: 0px 0px 30px rgba(0,0,0,0.5)}
    100% {box-shadow: 0px 0px 5px rgba(0,0,0,0.5)}
}
.deselect-shadow {
    animation-name: deselectShadow;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.profile-img {
    width: 160px;
    height: 160px;
}
.password-box {
    border: 0;
    outline: none;
    width: 160px;
    height: 25px;
    font-size: 14px;
    font-family: Roboto Regular;
}
.name-box {
    outline: none;
    color: #555;
    width: 160px;
    height: 25px;
    font-size: 18px;
    margin-top: 6px;
    font-family: Roboto Regular;
    overflow: hidden;
    overflow-x: hidden;
    text-align: center;
}
.action {
    cursor: pointer;
    float: left;
    margin-right: 20px;
}
.action i {
    display: inline-block;
    float: left;
    margin-right: 5px;
    height: 14px;
    width: 14px;
    margin-top: 14px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.shutdown i {background-image: url(shutdown.png);}
.reboot i {background-image: url(reboot.png);}
.checkmark {
    background-image: url(check.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    float: right;
    visibility: hidden;
}
.settings {
    display: inline-block;
    position: fixed;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    background-image: url(settings.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 44px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
    line-height: 44px;
    font-size: 13px;
    padding: 0 14px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1);
    box-sizing: border-box;
}
.widget {
    cursor: default;
    position: fixed;
    bottom: 3px;
    right: 3px;
    background-color: rgba(0,0,0,0.7);
    /*background-color: #3871d5; for selection*/
    border-radius: 4px;
    padding: 3px;
    padding-left: 7px;
    width: 70px;
    height: 26px;
}
.widget-menu {
    cursor: default;
    position: fixed;
    right: 8px;
    bottom: 45px;
    background-color: #fefefe;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    /*background-color: #f5f5f5 for hover selection*/
    padding: 0;
    width: 300px;
    height: 300px;
    visibility: hidden;
    opacity: 0;
    font-family: Roboto Regular;
    font-size: 12px;
    color: #000;
}
.widget-header {padding: 20px;}
.widget-container {
    background-color: #fefefe;
    padding: 0;
    margin: 1px;
    height: 244px;
    overflow: auto;
    overflow-x: hidden;
}
.widget-entry {
    position: relative;
    background-color: #fefefe;
    margin: 0;
    padding: 15px;
}
.widget-entry:hover {background-color: #ebebeb;}
.log-box {
    background-color: #fff;
    color: #000;
    overflow: auto;
    overflow-x: auto;
    height: 300px;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
}
#clock {
    position: relative;
    bottom: 8px;
}
.fade-cover {
    visibility: hidden;
    background-color: #fff;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 10;
}
