@font-face {
    font-family: "Roboto Regular";
    src: url(Roboto-Regular.ttf);
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto Regular, Arial, sans-serif;
    font-size: 13px;
    background: #fff;
    background-image: url(wallpaper.jpg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    color: #404040;
    -webkit-user-select: none;
    z-index: -1;
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
}
.card {
    overflow: hidden;
    padding: 10px;
    width: 160px;
    height: 190px;
    background-color: #fff;
    position: relative;
    margin: auto;
    top: 30%;
    border-radius: 2px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}
.profile-img {
    width: 160px;
    height: 160px;
}
.password-box {
    border: 0;
    outline: none;
    width: 160px;
    height: 25px;
    font-size: 14px;
    font-family: Roboto Regular;
}
.action {
    cursor: pointer;
    float: left;
    margin-right: 20px;
}
.action i {
    display: inline-block;
    float: left;
    margin-right: 5px;
    height: 14px;
    width: 14px;
    margin-top: 14px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.shutdown i {
    background-image: url(shutdown.png);
}
.reboot i {
    background-image: url(reboot.png);
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 44px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
    line-height: 44px;
    font-size: 13px;
    padding: 0 14px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1);
    box-sizing: border-box;
}
.fade-cover {
    visibility: hidden;
    background-color: #fff;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 10;
}
